
#docModal {
  display: block;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  height: 85%;
  width: 70%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.docModal-header-bar {
  height: 2.5rem;
  width: 100%;

  display: flex;
  border-bottom: 2px solid #dee0e3;
  
}
.docModal-header {
  height: 4rem;
  width: 100%;
  overflow: auto;
  border-bottom: 2px solid #dee0e3;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header_folderName_fileMenu_container {
  height: 90%;
  width: 80%;
}
.headerIconDoc {
  height: 90%;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIconDoc span {
  color: #4285f4;
  font-size: 3rem;
}

.header_folderName_startBox_container {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.header_folderName {
  height: 100%;
  width: 9rem;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 0.5rem;
  color: #7e7e7e;
  font-weight: 500;
  border: none;
}
.header_folderName:hover {
  border: 1px solid #dee0e3;
}
.header_FileMenu_container {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 0.3rem;
}
.fileMenuBox {
  height: 94%;
  width: 2.5rem;

  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
  color: #48494b;
  font-size: 1rem;
}
.fileMenuBox:hover {
  background-color: #dee0e3;
}
.header_star {
  height: 90%;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
}

.header_star:hover {
  background-color: #dee0e3;
}
.header_star span {
  font-size: 1.2rem;

  color: #6d7075;
}

.docModal-headerBar-left {
  cursor: pointer;
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docIcon {
  margin-left: 20%;
  height: 100%;
  padding-left: 0.3rem;
  padding-right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docTextIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  font-weight: 500;
  font-family: sans-serif;
}

.docModal-headerBar-right {
  height: 100%;
  width: 8%;

  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}
.headerBar-right-iconDivBox {
  height: 1.35rem;
  width: 1.35rem;
  /* background-color: #ea4335; */
  border-radius: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #81818198;
}
.headerBar-right-iconDivBox span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #81818198;
}
.headerBar-right-iconDivBox:hover {
  font-size: 0.9rem;
  font-weight: 700;
  color: #81818198;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.comment_share_account_boxContianer {
  height: 100%;
  width: calc(100% - 80% - 3rem);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.commentBox {
  height: 2.7rem;
  width: 2.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.shareContainer {
  height: 2.7rem;
  width: 6rem;
  background-color: #1a73e8;
  border-radius: 0.5rem;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  gap: 0.3rem;
}
.shareLogo {
  height: 100%;

  display: flex;

  align-items: center;
  justify-content: center;
}
.shareLogo span {
  font-size: 1.2rem;
}
.sharetext {
  font-size: 1.1rem;
  font-weight: 500;
}
.commentBox span {
  font-size: 1.3rem;
  color: #5f6368;
}
.commentBox:hover {
  background-color: #dee0e3;
  color: white;
}

.docModalEditOption {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #dee0e3;
}
.fontSelectOption {
  padding-right: 1rem;
  height: 80%;
  width: 6rem;
  border-right: 2px solid #dee0e3;
  font-family: sans-serif;
}
#fontOption:hover {
  background-color: #dadada79;
}
#fontOption {
  height: 100%;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 0.4rem;
}
.fontSizeContainer {
  padding-right: 1rem;
  height: 80%;
  width: 8rem;
  border-right: 2px solid #dee0e3;
  font-family: sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}
.inner-fontSizeContainer {
  height: 100%;
  width: 100%;
  border: 2px solid #dee0e3;
  display: flex;
  cursor: pointer;
  border-radius: 0.4rem;
}
.subSize {
  height: 100%;
  width: 1.8rem;
  border-right: 2px solid #dee0e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subSize span {
  font-size: 1rem;
}
.addSize {
  height: 100%;
  width: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.addSize span {
  font-size: 1rem;
}

.textSizeValue {
  height: 100%;
  width: calc(100% - 3.6rem);
  border-right: 2px solid #dee0e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;

}

.docContentArea {
  height: calc(100% - 9rem);
  width: 100%;
  padding: 1rem;
}

.docContentArea textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0;
  font-family: sans-serif;
  resize: none;
}

.fileBox {
  position: relative;
}
.doc-saveButton,.doc-updateButton {
  cursor: pointer;
  position: absolute;
  top: 6.2rem;
  height: 2rem;
  width: 4rem;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.docStyleContainer {
  height: 80%;
  width: 6.5rem;
  border-right: 2px solid #dee0e3;
  padding-right: 1rem;
  padding-left: 1rem;
}
.inner-docStyleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.docStyleBox {
  height: 100%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dee0e3;
  cursor: pointer;
  border-radius: 0.5rem;
}
.docStyleBox:hover{
  background-color: #dadada79;
}
.docStyleBox span {
  color: #6d7075;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
