#windowModal {
  display: block;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  height: 85%;
  width: 70%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    overflow: hidden;
    /* z-index: 10; */
}


.windowModal-header-bar {
  height: 2.5rem;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #dee0e3;
}


.windowModal-headerBar-left {
  cursor: pointer;
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.windowIcon {
  margin-left: 20%;
  height: 100%;
  padding-left: 0.3rem;
  padding-right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.windowTextIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  font-weight: 500;
  font-family: sans-serif;
}



.windowModal-headerBar-right {
  height: 100%;
  width: 8%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.headerBar-right-iconDivBox {
  height: 1.35rem;
  width: 1.35rem;
  /* background-color: #ea4335; */
  border-radius: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #81818198;
}

.winmodal-contnet-area{
  height: calc(100% - 2.5rem);
  width: 100%;
}
.googleGalleryIcon{
color:#fbbc04;
}